body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #f4f4f4;
}


#main {
  padding: 3rem;
  max-width: 900px;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#main h1{
    text-align: center;
    margin-bottom: 1rem;
}

#main h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
  color: #333;
}

#main p {
  margin-bottom: 1.5rem;
}

#main ul {
  list-style: none;
  padding: 0;
}

#main ul li {
  margin-bottom: 0.5rem;
}

.download-button {
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.pdf-hidden{
    display:none;
}
@media print{
    .pdf-hidden{
        display:block;
    }
    .download-button{
        display:none;
    }
}

